hr{
    border: 1px solid crimson;
    color:crimson;
    background-color: crimson;
    /*position: relative;
    top:30px;*/
}


body{
    background-color: white;
    padding:20px;
    position:static;
}
h1{
    font-size: 36px;
}

.box{
    background-color:rgb(51,198,26);/**/
    color:white;
    margin:12px;
    border:2px solid crimson;
}


.subblocks{
    height:55%;
    /*width:250;*/
    width:15%;
    margin:12px;
    border:2px solid crimson;
    display:table-cell;
    color: white;
    font-weight: bolder;
}

#block1{
    background-color: rgb(0, 255, 0);
    position:absolute;
    left:2%;
    top:100px;
}

#block2{
    background-color: rgb(0, 255, 0);
    position:absolute;
    right:2%;
    top:100px;
}

#plot{
    position:static;
    top:20px;
}
